body {
  background-color: grey;

}

.everything {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 90%;
  margin: 0 auto;
  border-radius: 20px;
  transform:translateY(20vh);
  padding:50px 0px 50px 0px;
}

.menuItems{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

}
.menuOptions {
width: 150px;
height: 150px;
background-color: blue;
border-radius: 20px;
margin: 10px;
text-align: center;
color: white;
font-size: 24px;
line-height: 150px;
vertical-align: center;
}

.cashOutButtons {
  display: none;
}

.itemSpecifics {
  display: none;
}

.theGoods {
  display: none;
  border: none;
  border-bottom: 2px solid black;
  background-color: lightgrey;
  border-radius: 2px;
  margin: 2px;
}
